<div class="dropdown-menu dropdown-menu-dark border-0 pt-0 mx-0 shadow overflow-hidden" size="20%">
  <form class="p-2 mb-2 bg-dark border-bottom border-dark">
    <input autocomplete="false" class="form-control form-control-dark" placeholder="Type to filter..." type="search">
  </form>
  <ul class="list-unstyled mb-0">
    <li>
      <a (click)="setCurrentSource(null)" aria-expanded="false"
         class="dropdown-item d-flex align-items-center gap-2 py-2" data-bs-target="#home-collapse"
         data-bs-toggle="collapse" style="font-size: larger;"
         type="button">
        <span class="d-inline-block bg-primary rounded-circle" style="width: .5em; height: .5em;"></span>
        Home
      </a>
      <div class="collapse show" id="home-collapse">
        <ul class="list-unstyled mb-0">
          <li *ngFor="let section of WIKI_DOC | keyvalue">
            <a (click)="setCurrentSource(section.key)" class="dropdown-item d-flex align-items-center gap-2 py-2"
               type="button">
              <span class="d-inline-block bg-primary rounded-circle" style="width: .4em; height: .4em;"></span>
              {{section.value}}
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
<markdown [src]="currentSource" commandLine emoji lineHighlight lineNumbers></markdown>
